[Desktop Entry]
Encoding=UTF-8
Icon=distributor-logo-debian
Type=Link
Name=DebianDog
URL=https://debiandog.github.io/doglinux/
Comment=
Categories=Network;
